<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ relURL "water.css" }}" />
    <link rel="stylesheet" href="{{ relURL "custom.css" }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ relURL "meta/apple-touch-icon.png" }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ relURL "meta/favicon-32x32.png" }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ relURL "meta/favicon-16x16.png" }}">
    <link rel="manifest" href="{{ relURL "meta/site.webmanifest" }}">
    <link rel="mask-icon" href="{{ relURL "meta/safari-pinned-tab.svg" }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ relURL "meta/favicon.ico" }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/meta/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta content="{{default "Home" .Params.title}} | Pagefind XKCD Demo" property="og:title">
    <meta content="{{default "Home" .Params.title}} | Pagefind XKCD Demo" property="twitter:title">
    <meta content="en_US" property="og:locale">
    <meta content="A site to demonstrate Pagefind" name="description">
    <meta content="A site to demonstrate Pagefind" property="og:description">
    <link href="{{.Permalink | absURL}}" rel="canonical">
    <meta content="{{.Permalink | absURL}}" property="og:url">
    <meta content="Pagefind" property="og:site_name">
    <meta data-pagefind-default-meta="image[content]" content="{{ relURL "og.png" }}" property="og:image">
    <meta content="article" property="og:type">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="{{ relURL "og.png" }}" property="twitter:image">

    <title>{{default "Home" .Params.title}} | Pagefind XKCD Demo</title>
</head>

<body>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <footer>
        All content from <a href="https://xkcd.com">xkcd</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc/2.5/">CC BY-NC 2.5</a> as per the <a href="https://xkcd.com/license.html">xkcd license</a>
    </footer>
</body>

</html>
